<table>

  <tr *ngIf = "flag;" style = "background-color: #ebccd1; color: #a94442;">
    <td>{{id}}</td>
    <td>{{title}}</td>
    <td>{{price}}</td>
    <td>{{stock}}</td>
  </tr>

    <tr *ngIf = "flag==false" style = "background-color: #e6ffe6; color: green; ">
        <td>{{id}}</td>
        <td>{{title}}</td>
        <td>{{price}}</td>
        <td>{{stock}}</td>
      </tr>
</table>
