<br>
<pre>
<table>
  <caption style="font-weight: bold">List Products
  </caption>
  <thead>
      <th> Id  </th><th>Title        </th><th> Price </th><th>Stock</th>
  </thead>    
</table>
<listItem *ngFor = "let listItem of products" [data]="listItem"></listItem>

</pre>